# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Firebase service account
firebase-service-account.json
*.json